body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img{
  max-width: 100%;
  height: 150px;

}
ul{
  display: block;
  margin: 0px auto;
}
.catContainer{
	text-align: center;
}

.btn-group form{
	display: inline-block;
}
.editPic{
	display: block;
	margin: 5px auto;
}