<div class="row">
<div class="col-md-8 col-md-offset-2 catContainer">
<h1>Cat Generator</h1>
{{#each cats}}
<form class="new_cat" id="new_cat" action="/cats/{{this.id}}"
  accept-charset="UTF-8" method="POST">

   <div class="form-group">
    <input placeholder="name" type="text" name="name" id="cat_name" value={{this.name}} class="form-control">
  </div>

  <p>
    <!-- Replace this input with a some kind of GUI that allows the user
         to select one of six cat images, then pass the URL of that image
         back to the back end and save the new cat info into the JSON file -->

    <img src={{this.image}} class='img-responsive editPic' >

  </p>

  <div class="form-group">
    <textarea placeholder="life story" name="life_story"
      id="cat_life_story" class="form-control">{{this.life_story}}</textarea>
  </div>

  <div class="btn-group" role="group" aria-label="...">
    <input type="submit" name="commit" value="Save Cat" class="btn btn-default"/>
    <a class="link btn btn-primary" href="/cats" >Never mind</a>
  </div>

</form>
{{/each}}

</div>
</div>