<div class="row">
<div class="col-md-8 col-md-offset-2 catContainer">
<h1>Cat Generator</h1>

<form class="new_cat" id="new_cat" action="/cats"
  accept-charset="UTF-8" method="POST">

  <div class="form-group">
    <input placeholder="name" type="text" name="name" id="cat_name" class="form-control">
  </div>
<div class='row'>
{{#each images}}
<div class="col-md-4 form-group catContainer">
    <input placeholder="image url" type="radio" name="image" value={{this}} id="cat_image" class="form-control">
    <img src={{this}} class='img img-responsive'>
</div>
{{/each }}
</div>

  <div class="form-group">
    <textarea placeholder="life story" name="life_story"
      id="cat_life_story" class="form-control"></textarea>
  </div>

  <div class="btn-group" role="group" aria-label="...">
    <input type="submit" name="commit" value="Create Cat" class="btn btn-default"/>
    <a class="link btn btn-primary" href="/cats" >Never mind</a>
  </div>

</form>

</div>
</div>